{% if volatile or not (func.private or func.deprecated) %}
<dl class="function">
	<dt id="{{ func.name }}">
		{% if func.scopename and not func.in_class -%}
			<tt class="descscopename">{{ func.scopename }}.</tt>
		{%- endif -%}
		<tt class="descname">{{ func.basename }}</tt><big>(</big>
		{%- for arg in func.args -%}
			{%- if arg.optional %}[{% endif -%}
			{%- if not loop.first %}, {% endif -%}
			<em>{{ arg.name }}</em>
			{%- if arg.optional %}]{% endif -%}
		{%- endfor -%}
		{%- if func.mult %}, <em>...</em>{% endif -%}
		<big>)</big>
		{% if func.type %}<tt class="nobg">&#x21d2; {{ func.type }}</tt>{% endif %}
		<a class="headerlink" href="#{{ func.name }}" title="Permalink to this definition">&para;</a>
	</dt>
	<dd>
		{{ func.desc }}

		{% if func.described_args %}
			{% for arg in func.args -%}
				<div class="subtle arg_desc">
					<tt class="nobg">
						{% if arg.type %}<em>{{ arg.type }}</em>{% endif %}
						{{ arg.name }}
					</tt>
					{{ arg.desc }}
				</div>
			{%- endfor %}
		{% endif %}

		{% if func.see %}
			<dl>
				<dt>See also:</dt>
				{% for name in func.see -%}
					<dd><a href="#{{ name }}"><code>{{ name }}</code></a></dd>
				{%- endfor %}
			</dl>
		{% endif %}
	</dd>
</dl>
{% endif %}